<!DOCTYPE html>
<html>
<head>
  <title>TodoListApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap/dist/css/bootstrap.min.css'%>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery/dist/jquery.min.js', media: 'all'%>
  <%= javascript_include_tag 'bootstrap/dist/js/bootstrap.min.js', media: 'all'%>

  <link rel="stylesheet" media="screen" href="/bower_components/fullcalendar/dist/fullcalendar.min.css"/>
  <link rel="stylesheet" media="print" href="/bower_components/fullcalendar/dist/fullcalendar.print.css"/>
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/bower_components/fullcalendar/dist/fullcalendar.min.js" media="all"></script>

<!-- 
  <link href='../fullcalendar.css' rel='stylesheet' />
  <link href='../fullcalendar.print.css' rel='stylesheet' media='print' />
  <script src='../lib/moment.min.js'></script>
  <script src='../lib/jquery.min.js'></script>
  <script src='../fullcalendar.min.js'></script>
-->
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
